{{left_sidebar_disabled=True,right_sidebar_disabled=True,('message' in globals())}}

{{extend 'layout.html'}}
{{from time import strftime}}
{{for i,row in enumerate(rows):}}
{{if i==items_per_page: break}}
<!-- this entire div will become the link to the posting -->
<div class="span3 listing" style="float: left; border: 2px solid black; padding: 25px; margin: 5px;">
    <span style="margin: 0px auto; float:left;">
    <!-- was this going to be just a user id instead of a name? -->
    {{=row.user_id.first_name}}<br />
        {{=row.city}}<br />
    {{=row.us_state}}<br />
    <!-- is there a way we can get the date to show up like "March 2, 2015" or something? -->
    {{=row.event_date.strftime ("%B %d, %Y")}}<br />
    {{=row.category}} <br />
    <!-- body will be displayed in the post itself
    {{=row.body}} <br /> -->
        </span>
    <span style="float: right;">
        <img src={{=URL('static','images/dontgoalonesmallpic.png')}} style="height:115px; border: 2px solid;">
    </span>
</div>
{{pass}}

<div class="span9 linkagediv">
    <span class="span4 linkage" style ="text-align: right; margin: auto;">
    {{if page:}}
<a href="{{=URL(args=[page-1])}}">previous</a>
{{pass}}
</span>
    <span class="span1">
        </span>
<span class="span4 linkage" style="text-align: center; margin: auto;">
    {{if len(rows)>items_per_page:}}
<a href="{{=URL(args=[page+1])}}">next</a>
{{pass}}
</span>
</div>
