{{extend 'layout.html'}}
{{from time import strftime}}

{{if post:}}
<div class="posting_div span9 big_listing">
    
        <div>
    <h2>
        {{=post.title}}
</h2>
            
           </div>
            <div class="posting_info span5">
<h4>
    {{=post.city}}, {{=post.us_state}}
    <br>
    {{=post.event_date.strftime ("%B %d, %Y")}}
    <br><br>
    {{=post.body}}
</h4>
        </div>
    <a class="index_link_to_post" href={{=URL('view_profile', args=user.id)}}>
    <span class="posting_user_info span3" style="float: right;">
        <div class="posting_user_picture span2" style="width: 200px;">
        {{if user.profile_picture is not None:}}
            <img src="{{=URL('download', args=user.profile_picture)}}" width=200px>
        {{else:}}
        <img src="{{=URL('static', 'images/dontgoalonesmallpic.png')}}" width=200px>
        {{pass}}
            </div>
        <div class="posting_user_name span2">
        <h4>
            {{=user.first_name}} {{=user.last_name}}
        </h4>
            </div>
    </span>
</div>



<div class="row" >
    <div class="invite_button span3 offset4" style="padding: 25px 0px 0px 0px;">
        {{=A('Attend', _class='btn', _style="width: 200px; height: 50px; line-height: 200%; background: #4e4eac; font-weight: bold; color: white; font-size: 24px;")}}
    </div>
</div>
    
{{else:}}

{{pass}}

{{for c in comments:}}
{{=c.body}}
{{pass}}
