{{left_sidebar_disabled=True,right_sidebar_disabled=True,('message' in globals())}}
{{extend 'layout.html'}}

<!-- Skeleton for view profile. Add stuff to make it pretty =] -->
<!-- user.us_state gives the users state
     user.city gives the users city -->
<!-- Remove the =user and  bits, they're just for testing -->
{{if user:}}
<div class="span9" style="background: #fffacc; border: 2px solid black;">
<div class="user_profile span9" style="margin: 10px;">
 
<div class="user_profile_info span4">
<h1>
    <!-- replace with user name -->
    {{=user.first_name}} {{=user.last_name}}
</h1>
    <h4>
        {{=user.city}}, {{=user.us_state}}
        <br> <br>
        {{if user.description is not None:}}
        {{=user.description}}
        {{pass}}
        </h4>
    
    
</div>

    <div class="span4 user_profile_picture">

    <!-- PROFILE PICTURE -->
    {{if user.profile_picture is not None:}}
        <img src="{{=URL('download', args=user.profile_picture)}}" width=200px style="border: 1px black solid;">
    {{else:}}
        <img src ="{{=URL('static','images/dontgoalonesmallpic.png')}}" width=200px style="border: 1px black solid;">
    {{pass}}
        
        </div>
</div>
<div class="span9">
<div class="span2 empty_space">
    </div>
<div class="span5 user_profile_ratings">
        <div class="user_profile_ratings_singleface span1">
            <img src={{=URL('static', 'images/HappyFace.png')}} width=50px;>
            <div class="user_profile_ratings_number">
                <!-- will be replaced by number of ratings they have received in that category -->
                {{=ratings[RATINGS[0]]}}
                </div>
        </div>
        
        <div class="user_profile_ratings_singleface span1">
            <img src={{=URL('static', 'images/NeutralFace.png')}} width=50px;>
            <div class="user_profile_ratings_number">
                <!-- will be replaced by number of ratings they have received in that category -->
                {{=ratings[RATINGS[1]]}}
                </div>
        </div>
        
        <div class="user_profile_ratings_singleface span1">
            <img src={{=URL('static', 'images/SadFace.png')}} width=50px;>
            <div class="user_profile_ratings_number">
                <!-- will be replaced by number of ratings they have received in that category -->
                {{=ratings[RATINGS[2]]}}
                </div>
        </div>
        </div>
<div class="span2 empty_space">
    </div>
    </div>
</div>

<div class="row" >
    <div class="invite_button span3 offset4" style="padding: 25px 0px 0px 0px;">
        {{=A('Review', _class='btn',  _href=URL('default', 'add_review', args=[user.id]), _style="width: 200px; height: 50px; line-height: 200%; background: #4e4eac; font-weight: bold; color: white; font-size: 24px;")}}
    </div>
</div>

<div class="row">
{{for c in reviews:}}
<div class="comment span9" style="padding: 25px 0px 0px 0px; text-align: center; font-size: 16px;">
    {{if c.rating == "Great":}}
        <img src={{=URL('static', 'images/HappyFace.png')}} width=50px;>
    {{elif c.rating == "Meh":}}
        <img src={{=URL('static', 'images/NeutralFace.png')}} width=50px;>
    {{else:}}
        <img src={{=URL('static', 'images/SadFace.png')}} width=50px;>
    {{pass}}
    <b><a class="profile_link" href={{=URL('default', 'view_profile', args=[c.reviewer_id])}}>{{=c.reviewer_id.first_name}}</a>:</b>
    {{=c.body}}
</div>
{{pass}}
</div>
{{else:}}

User not found

{{pass}}
