{{extend 'layout.html'}}
{{from time import strftime}}

{{if post:}}
<div class="posting_div span9 big_listing">
    
        <div class="span6" style="float: left;">
    <h2>
        {{=post.title}}
</h2>
           </div>
            <div class="posting_info span5">
<h4>
    {{=post.city}}, {{=post.us_state}}
    <br>
    {{=post.event_date.strftime ("%B %d, %Y")}}
    <br><br>
    {{=post.body}}
</h4>
        </div>
    <a class="index_link_to_post" href={{=URL('view_profile', args=user.id)}}>
    <span class="posting_user_info span3" style="float: right;">
        <div class="posting_user_picture span2" style="width: 200px;">
        {{if user.profile_picture is not None:}}
            <img src="{{=URL('download', args=user.profile_picture)}}" width=200px>
        {{else:}}
        <img src="{{=URL('static', 'images/dontgoalonesmallpic.png')}}" width=200px>
        {{pass}}
            </div>
        <div class="posting_user_name span2">
        <h4>
            {{=user.first_name}}
        </h4>
            </div>
    </span>
</div>

{{if auth.user and post.user_id == auth.user.id:}}
    <div class="row">
        <a class="profile_link span1 offset8" href={{=URL('delete_post', args=post.id)}}>Delete?</a>
    </div>
    {{pass}}

<div class="row" >
    <div class="invite_button span3 offset4" style="padding: 25px 0px 0px 0px;">
        {{=A('Attend', _class='btn', _href=URL('default', 'invite', args=[post.id]), _style="width: 200px; height: 50px; line-height: 200%; background: #4e4eac; font-weight: bold; color: white; font-size: 24px;")}}
        <!-- Copied and pasted button code delete this or restyle please~~~-->
        {{=A('Comment', _class='btn', _href=URL('default', 'add_comment', args=[post.id]), _style="width: 200px; height: 50px; line-height: 200%; background: #4e4eac; font-weight: bold; color: white; font-size: 24px; margin: 25px 0px;")}}
    </div>
    <div class="span2" style="margin: 10px;">
        <div style="font-size: 24px;">
        <b>Attending<br /></b>
        <ul>
        {{for i in invites:}}
        <li style="margin: 10px auto;">
            <a class="profile_link" href={{=URL('default', 'view_profile', args=[i.user_id])}}>{{=i.user_id.first_name}}</a>
        </li>
        {{pass}}
    </ul>
    </div>
    </div>
</div>

<div class="row">
{{for c in comments:}}
<div class="comment span9" style="padding: 25px 0px 0px 0px; text-align: center; font-size: 16px;">
    <b><a class="profile_link" href={{=URL('default', 'view_profile', args=[c.user_id])}}>{{=c.user_id.first_name}}</a>:</b>
    {{=c.body}}
</div>
{{pass}}
</div>

{{else:}}

{{pass}}


