{{extend 'layout.html'}}

{{if post:}}
<div class="posting_div span9">
    <div class="posting_info span5">
    <h2>
        We should have titles for events to specify what it is, eg. San Jose Sharks vs. New Jersey Devils or 50 Shades of Grey
</h2>
<h4>
    {{=post.city}}, {{=post.us_state}}
    <br>
    {{=post.event_date}}, Should we have a time on the posting table also? eg. 7:30 pm
    <br>
    also, we need to beautify the date, Coy can you help please? :3
    <br><br>
    {{=post.body}}
</h4>
        </div>
    <div class="posting_user_info span3">
        <div class="posting_user_picture span2">
        {{if user.profile_picture is not None:}}
            <img src="{{=URL('download', args=user.profile_picture)}}" width=200px>
        {{else:}}
        <img src="{{=URL('static', 'images/dontgoalonesmallpic.png')}}" width=200px>
        {{pass}}
            </div>
        <div class="posting_user_name span2">
        <h4>
            {{=user.first_name}} {{=user.last_name}}
        </h4>
            </div>
    </div>
</div>
    
{{else:}}

{{pass}}
